# Read-only Cube-core connection
CUBE_CORE_DATABASE_NAME=cube_db
CUBE_CORE_DATABASE_HOST=127.0.0.1
CUBE_CORE_DATABASE_PORT=5432
CUBE_CORE_DATABASE_USER=cube_user
CUBE_CORE_DATABASE_PASSWORD=change_me

# cube-mumble owned runtime database (CUBE-MMBL-AUTH)
CUBE_MMBL_AUTH_DATABASE_NAME=CUBE-MMBL-AUTH
CUBE_MMBL_AUTH_DATABASE_HOST=127.0.0.1
CUBE_MMBL_AUTH_DATABASE_PORT=5432
CUBE_MMBL_AUTH_DATABASE_USER=cube_mmble_auth
CUBE_MMBL_AUTH_DATABASE_PASSWORD=change_me
MUMBLE_ICE_SLICE=/home/cube/cube-monitor/mumble_authenticator/MumbleServer.ice
