[Unit]
Description=Cube Mumble ICE Authenticator
After=network.target postgresql.service mumble-server.service

[Service]
User=cube
Group=cube
WorkingDirectory=/home/cube/cube-mumble
EnvironmentFile=/home/cube/.env/cube-mumble
ExecStart=/home/cube/.venv/cube-mumble/bin/python /home/cube/cube-mumble/authenticator/authenticator.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
